input {
  text-align: right;
  width: 198px;
}

button {
  height: 40px;
  width: 50px;
}

#history {
  border-bottom-color: white;
}

#main {
  border-top-color: white;
  height: 40px;
  font-size: 20px;
}

#equBtn {
  position: absolute;
  left: 148px;
  height: 80px;
}

#zerBtn {
  width: 99px;
}

body {
  background-color: grey;
}